* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 50px;
    height: 50px;
}

.box-red {
    border: 1px solid red;
}

.box-blue {
    border: 1px solid blue;
}

.box-green {
    border: 1px solid green;
}

.box-red-fill {
    background: #FF8888;
}

.box-blue-fill {
    background: #8888FF;
}

.box-green-fill {
    background: #88FF88;
}

.task-10 {
    position: relative;
    width: 250px;
    height: 250px;
}

.task-10 > .box-blue {
    position: absolute;
    top: 75px;
    left: 75px;
}

.task-10 > .box-green {
    position: absolute;
    top: 150px;
    left: 150px;
}

.task-11 {
    display: flex;
    width: 200px;
    height: 100px;
}

.task-11 > * + * {
    margin-left: 15px;
}

.task-12 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.task-12 > .box-blue-fill {
    position: absolute;
    z-index: 9999;
}

.task-12 > .box-red-fill {
    position: absolute;
    left: 25px;
    top: 25px;
}

.task-12 > .box-green-fill {
    position: absolute;
    right: 25px;
    bottom: 25px;
}