* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

table {
    border-collapse: collapse;
}

td, th {
    padding-top: 15px;
    padding-bottom: 20px;
    letter-spacing: -0.22px;
}

tr, td {
    border: 1px solid white;
}

table > thead {
    font-weight: bold;
}

table > thead > tr > th, table > tbody > tr > td:first-child {
    background: #A3CEE9;
    color: white;
}

td:first-child, th:first-child {
    width: 165px;
    padding-left: 15px;
}

td:not(:first-child), th:not(:first-child) {
    width: 100px;
    text-align: center;
}

table > tbody > tr > td:not(:first-child) {
    color: rgba(0, 0, 0, .6);
    background: #D2E7F4;
}